.footer {
    position: sticky;
    top: 300px;
    padding-top: 10px;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.footer-links > li > a {
    text-decoration: none;
    font-size: 12px;
    color: gray;
}

/* screens from 769px to 1200px */

@media only screen and (max-width: 1000px) {
    .footer {
        display: none;
    }
}